# Compiler files
cache/
out/

# Report
coverage-report/
lcov.info
lcov.info.pruned
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.vscode/
broadcast/
.notes
.order

